/* CSS files add styling rules to your content */

body {
  margin: 0;
  padding: 0;
  min-height: 1024px;
  font-family: "Arbutus Slab", serif;
}

.topnav {
  float: right;
  color: #464646;
  text-align: right;
  padding: 20px 25px;
  text-decoration: none;
  font-size: 12px;
}

.logos {
  margin-right: 200px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  height: auto;
}

.details {
  width: 33.33%;
  text-align: center;
}

.space {
  align-self: flex-end;
  width: 100%;
}
a {
  color: #464646;
}

.topnav a {
  padding: 0px 10px;
}
.topnav a.active {
  color: #464646;
}
#logo {
  display: block;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 50px;
  /*width: 75%;*/
}

#go_back {
  margin-left: 50px;
}
#detailImage {
  margin-left: 20px;
}

.detailBox {
  margin-left: 50px;
  font-size: 15px;
  float: left;
}

.bottomnav {
  margin-right: 100px;
  float: center;
  color: #464646;
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Arbutus Slab", serif;
}

.Quantity {
  display: inLine-block;
}
.Button1 {
  display: inLine-block;
}

.WalnutBun {
  margin: 0 auto;
  font-size: 20px;
  color: #464646;
}
.bottomnav a {
  padding: 0px 30px;
}
img {
  display: block;
  margin-left: 20px;
  margin-right: auto;
  padding: 50px 30px;
}

a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

.page-background {
  background: url("https://cdn.glitch.com/824c78ca-4ca8-46f7-900b-708ca8c7e72f%2F33438870383_5c75d89e43_o.png?v=1569618838939");
  background-size: contain;
  background-repeat: no-repeat;
  height: 646px;
}

.row-item {
  background: url("https://cdn.glitch.com/824c78ca-4ca8-46f7-900b-708ca8c7e72f%2Fnotext.png?v=1569713022090");
  background-size: cover;
  background-repeat: no-repeat;
  width: 32%;
  margin: 1.66% auto;
  height: auto;
  background-position: center;
}

.row-item p {
  height: 30px;
  text-align: center;
  margin: 10px auto;
  font-size: 24px;
  color: #464646;
}

.details {
  height: 250px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
}
.back {
  color: #464646;
  padding: 20px 25px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Arbutus Slab", serif;
  margin: 10px auto;
}

.boxed {
  border: 5px;
  color: #464646;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 94%;
  text-align: center;
  margin: auto;
}

.flex-box1 {
  display: flex;
  flex-direction: column;
  float: left;
}

.flex-box2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-content: center;
}

.button {
margin-left:auto;
  margin-right:auto;
  width: 200px;
  height: 50px;
  background-color: #464646;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: "Arbutus Slab", serif;
  font-size: 18px;
}

.WalnutBun {
}

.price {
  text-align: center;
  paddding: 5px 10px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.babyflex-box2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo3{
  margin-right: 200px;
}
.logo2{
  margin-right: 200px;
}
.bottomnav2{
  float: center;
  color: #464646;
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Arbutus Slab", serif;
  margin-right: 100px;
}
.bottomnav2 a {
  padding: 0px 30px;
}

.cart sup {
  background: #ccc;
  border-radius:45%;
  font-weight:bold;
  padding:3px;
  font-size:12px;
}

hr {
  width:95%;
  color:#979797;
}

h3 img {
  margin:auto;
}

#cartDetails p, .cartBox p {display:inline-block;text-align:center;}
#item {width:40%;box-sizing:border-box;padding-right:315px;}
#price {width:20%;}
#qty {width:15%;}
#total {width:20%;}

.cartBox img {padding:0;display:inline;}

#detailName {width:30%;}
#detailQty {width:16%;}
#itemPrice {width:16%}
#cartTotal {width:20%;}
